-- ### MANAGED BY PUPPET ###
-- See: modules/profile/templates/prosody/prosody.cfg.lua.erb
--
-- Prosody XMPP Server Configuration
--
-- Information on configuring Prosody can be found on our
-- website at https://prosody.im/doc/configure
--
-- Tip: You can check that the syntax of this file is correct
-- when you have finished by running this command:
--     prosodyctl check config
-- If there are any errors, it will let you know what and where
-- they are, otherwise it will keep quiet.
--
-- Good luck, and happy Jabbering!


---------- Server-wide settings ----------
-- Settings in this section apply to the whole server and are the default settings
-- for any virtual hosts

-- This is a (by default, empty) list of accounts that are admins
-- for the server. Note that you must create the accounts separately
-- (see https://prosody.im/doc/creating_accounts for info)
-- Example: admins = { "user1@example.com", "user2@example.net" }
admins = { <%= @admins.join(',') %> }

-- User to run prosody as
prosody_user = "prosody"
-- Group to run prosody as
prosody_group = "prosody"

-- Which interfaces (addresses) to listen on
interfaces = {
    "0.0.0.0",
    "::",
}

-- Enable use of libevent for better performance under high load
-- For more information see: https://prosody.im/doc/libevent
use_libevent = false;

-- This is the list of modules Prosody will load on startup.
-- It looks for mod_modulename.lua in the plugins folder, so make sure that exists too.
-- Documentation on modules can be found at: https://prosody.im/doc/modules
modules_enabled = {

  -- Base modules
    "roster";
    "saslauth";
    "tls";
    "dialback";
    "disco";
    "posix";
    "private";
    "vcard";
    "version";
    "uptime";
    "time";
    "ping";
    "pep";
    "register";

  -- Custom modules
    "admin_adhoc";
    "blocklist";
    "carbons";
    "carbons_adhoc";
    "cloud_notify";
    "csi";
    "filter_chatstates";
    "http";
    "firewall";
    "http_upload";
    "mam";
    "smacks";
    "throttle_presence";
    "server_contact_info";
    "vcard4";
    "vcard_legacy";

};



-- Disable account creation by default, for security
-- For more information see https://prosody.im/doc/creating_accounts
allow_registration = false;

-- Debian:
--   send the server to background.
--
daemonize = true;


-- Force clients to use encrypted connections? This option will
-- prevent clients from authenticating unless they are using encryption.

c2s_require_encryption = true

-- Force servers to use encrypted connections?

s2s_require_encryption = true


-- Force certificate authentication for server-to-server connections?
-- This provides ideal security, but requires servers you communicate
-- with to support encryption AND present valid, trusted certificates.
-- NOTE: Your version of LuaSec must support certificate verification!
-- For more information see https://prosody.im/doc/s2s#security

s2s_secure_auth = false

-- Many servers don't support encryption or have invalid or self-signed
-- certificates. You can list domains here that will not be required to
-- authenticate using certificates. They will be authenticated using DNS.

s2s_insecure_domains = {
}

-- Even if you leave s2s_secure_auth disabled, you can still require valid
-- certificates for some domains by specifying a list here.

s2s_secure_domains = {
}

------ Custom config options ------


auth_ha1_file = "/var/local/rtc-passwords.prosody"
auth_ha1_realm = "rtc.debian.org"
auth_ha1_use_ha1b = true
contact_info = {
  abuse = { "mailto:abuse-rtc@debian.org" };
  security = { "mailto:abuse-rtc@debian.org" };
  feedback = { "mailto:abuse-rtc@debian.org" };
}
firewall_scripts = "/srv/prosody/antispam/spammer.pfw"
https_certificate = {
  [5281] = "/etc/ssl/private/xmpp.debian.org.key";
}
https_ssl = {
  key = "/etc/ssl/private/xmpp.debian.org.key";
  certificate = "/etc/ssl/debian/certs/xmpp.debian.org.crt-chained";
}
reload_modules = { "firewall" }

-- Required for init scripts and prosodyctl
pidfile = "/var/run/prosody/prosody.pid"

-- Select the authentication backend to use. The 'internal' providers
-- use Prosody's configured data storage to store the authentication data.
-- To allow Prosody to offer secure authentication mechanisms to clients, the
-- default provider stores passwords in plaintext. If you do not trust your
-- server please see https://prosody.im/doc/modules/mod_auth_internal_hashed
-- for information about using the hashed backend.

authentication = "ha1"

-- Select the storage backend to use. By default Prosody uses flat files
-- in its configured data directory, but it also supports more backends
-- through modules. An "sql" backend is included by default, but requires
-- additional dependencies. See https://prosody.im/doc/storage for more info.

storage = "internal"


-- Logging configuration
-- For advanced logging see https://prosody.im/doc/logging
log = {
        info = "/var/log/prosody/prosody.log"; -- Change 'info' to 'debug' for verbose logging
        error = "/var/log/prosody/prosody.err";
    { levels = { error }; to = syslog; };
}

------ Components ------
-- You can specify components to add hosts that provide special services,
-- like multi-user conferences, and transports.
-- For more information on components, see https://prosody.im/doc/components


------ Additional config files ------
-- For organizational purposes you may prefer to add VirtualHost and
-- Component definitions in their own config files. This line includes
-- all config files in /etc/prosody/conf.d/

Include "conf.d/*.cfg.lua"
