# /etc/nsswitch.conf
#
# Example configuration of GNU Name Service Switch functionality.
# If you have the `glibc-doc-reference' and `info' packages installed, try:
# `info libc "Name Service Switch"' for information about this file.

passwd:         compat <%= scope.lookupvar('provider') %><% if scope.call_function('versioncmp', [@lsbmajdistrelease, '12']) >= 0 %> systemd<% end %>
group:          <%= scope.lookupvar('provider') %> compat<% if scope.call_function('versioncmp', [@lsbmajdistrelease, '12']) >= 0 %> systemd<% end %>
shadow:         compat <%= scope.lookupvar('provider') %><% if scope.call_function('versioncmp', [@lsbmajdistrelease, '12']) >= 0 %> systemd<% end %>

hosts:          files dns
networks:       files

protocols:      db files
services:       db files
ethers:         db files
rpc:            db files

netgroup:       nis
